{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
    text-align: center;
    padding: 15px;
    background-color: #252525;
    border-top: 1px solid #817f7f;
    font-size: 0.9em;
    margin-top: 5px;
    overflow: hidden;
    position: fixed; /* Change to fixed positioning */
    bottom: 0;
    left: 0;
    width: 100%;
    }
    
    footer p {
    margin-bottom: 1px;
    color: #f8f2f2;
    }
    
    </style>
    
</head>
<body style="background-image: url('/static/dde.jpg'); background-size: cover; background-color: #f6f5f9ae;  background-blend-mode: multiply;  background-attachment: fixed; background-position: center; opacity: 40px;"></body>
<br><b><br><br><br><br></b>

    <h1 style="text-align: center;">WELCOME TO KARIBU GROCERIES LMT</h1>
    <br><br><br><br><br>
    <h2 style="text-align: center;">Your one-stop shop for all your grocery needs</h2>


    <nav>
        <ul style="color:black;"><br><br><br>
            <li style="text-align: center; color:black;font-size: 40px;">
                <a href="/login">Login</a> 
            </li>
        </ul><br><br><br><br>
    </nav>
    
<footer>
    
    <p>&copy; 2025 Karibu Grocery Limited.Designed by Justine Natasha.</p>
    <p>Your Trusted Source for Quality Groceries in Uganda.</p>
    
</footer>
</body>
</html>
